body {
	background-image: url("https://i.imgur.com/AULjBfI.jpg");
	background-size: cover;
	/*background-color: #242424;*/
	margin: 0;
	font-family: 'Oswald';
	font-weight: 200;
	overflow-x: hidden;
}

button {
	width: 120px;
	height: 40px;
	background-image: url("https://i.imgur.com/mvigQIb.jpg");
	background-size: cover;
	border: none;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 100%;
	color: grey;
}

button:hover {
	animation-name: pad-fade-stay;
	animation-duration: .25s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

h1 {
	margin: 0;
	font-size: 300%;
	font-weight: 400;
}

h2 {
	margin: 0;
	font-weight: 400;
}

p {
	color: grey;
}

li {
	margin-bottom: 10px;
}

.title {
	width: 100vw;
	color: rgba(204,152,80,1);
	font-size: 350%;
	text-align: center;
	display: block;
	margin: 20px;
}

.logo {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}

.logo-container {
	width: 100vw;
	margin: 10px;
	text-align: center;
}

.instrument {
	background-image: url('https://i.imgur.com/WbB3AWT.png');
	width: 960px;
	height: 552px;
	margin: 0 auto;
	/*box-shadow: 0 0 50px 10px #1C1C1C;*/
	display: flex;
}

.right-pannel {
	height: 530px;
	margin: 20px 20px 20px 0px;
	display: inline-block;
}

#display {
	width: 390px;
	height: 150px;
	margin: 0px;
	background-image: url('https://i.imgur.com/QPamEWd.png');
	background-position: center;
	display: flex;
	justify-content: space-around;
}

.leaderboard {
	width: 390px;
	height: 230px;
	background-color: #1C1C1C;
	overflow-y: scroll;
	overflow-x: hidden;
}

.minor-title {
	margin: 0 auto;
	text-align: center;
	font-size: 200%;
	font-weight: 300;
	color: rgba(204,152,80,1);
}

.break {
	width: 300px;
	height: 2px;
	background-color: rgb(204,152,80);
	margin: 0 auto;
}

.style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #292929;
}

.style-3::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
	background-color: #404040;
}

.leaderboard-split {
	color: rgba(204,152,80,.7);
	font-size: 125%;
}

.leader-names {
	float: left;
	margin: 0 70px 0 70px;
	font-weight: 400;
}

.leader-scores {
/*	float: right;*/
	list-style-type: none;
	font-weight: 300;
}

.left {
	margin-top: 55px;
}

.right {
	margin-top: 40px;
}

.button-container {
	width: 390px;
	height: 110px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.highlight {
	background-image: url("https://i.imgur.com/tENmVe5.jpg");
}

.center-btn {
	margin: 0 15px;
}

.pad-container {
	margin: 20px;
	background-image: url("https://i.imgur.com/eNC9W6B.png"); 
	background-size: cover;
	width: 510px;
	height: 510px;
	display: inline-block;
}

.pads {
	background-image: url("https://i.imgur.com/hchdt1w.png");
	background-size: cover;
	height: 100px;
	width: 100px;
	margin: 10px;
	display: inline-block;
	position: relative;
}

.underlay {
	height: 100px;
	width: 100px;
	animation-name: pad-fade;
	animation-duration: 1.5s;
	position: relative;
}

@keyframes pad-fade {
	0% {
		box-shadow: none;
	}
	10% {
		box-shadow: 0 0 15px 2px rgba(204,152,80,.6);
	}
	100% {
		box-shadow: none;
	}
}

@keyframes pad-fade-stay {
	0% {
		box-shadow: none;
		color: grey;
	}
	100% {
		box-shadow: 0 0 15px 2px rgba(204,152,80,.6);
		color: rgba(204,152,80,1);
	}
}

.padHit {
	animation-name: pad-fade;
	animation-duration: 1.5s;
	animation-play-state: running;
	background-image: url("https://i.imgur.com/hchdt1w.png");
	background-size: cover;
	height: 100px;
	width: 100px;
	margin: 10px;
	display: inline-block;
}

.pad-glow {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px 2px rgba(204,152,80,.6);
}

#pad1, #pad2, #pad3, #pad4 {
	margin-bottom: 18px;
}

#pad13, #pad14, #pad15, #pad16 {
	margin-top: 18px;
}

#pad1, #pad5, #pad9, #pad13 {
	margin-left: 18px;
}

/*---------------  Modals  -------------------*/

.modal1 {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,.6);
}

.score-dialog {
	width: 500px;
	height: 600px;
	background-color: #292929;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	display: block;
}

.gold {
	display: none;
}

.silver {
	display: none;
}

.bronze {
	display: none;
}

.fail {
	display: none;
}

.metal {
	width: 200px;
}

.big-gold {
	font-size: 250%;
	font-weight: 400;
	color: rgba(204,152,80,1);
}

.big-grey {
	font-size: 250%;
	font-weight: 400;
	color: #898989;
}

.bigger-gold {
	font-size: 600%;
	font-weight: 400;
	color: rgba(204,152,80,1);
}

.modal-options {
	display: flex;
	width: 500px;
	justify-content: space-around;
}

.name-input {
	width: 370px;
	height: 40px;
	background-color: #404040;
	margin-bottom: 20px;
	border: none;
	text-align: center;
	color: grey;
	font-size: 120%;
	font-family: 'Oswald';
}

.modal-message {
	margin: 10px;
}

.small-dark {
	font-size: 80%;
	color: grey;
}