body {
	background-color: white;
}

.container {
	margin: 0 auto;
	margin-top: 100px;
	background-color: #EAECD4; 
	width: 512px;
	height: 512px;
}

.pads {
	height: 100px;
	width: 100px;
	margin: 10px;
	display: inline-block;
	background-color: #92958E;
	/*border-radius: 4px;*/
}

.padHit {
	height: 100px;
	width: 100px;
	margin: 10px;
	display: inline-block;
	background-color: #FF9A65;
}

#pad1, #pad2, #pad3, #pad4 {
	margin-bottom: 20px;
}

#pad13, #pad14, #pad15, #pad16 {
	margin-top: 20px;
}

#pad1, #pad5, #pad9, #pad13 {
	margin-left: 20px;
}